body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  left: 15px;
}

.wordButton {
  background: none;
	color: inherit;
	border: none;
  margin: 1.5px;
	padding: 0;
	font: inherit;
	outline: inherit;
}

h1 {
  position: relative;
  left: 5px;
}

.inputBox {
  position: relative;
  left: 15px;
}

.submit {
  position: relative;
  left: 15px;
}

.wordsContainer {
  position: relative;
  top: 15px;
  left: 15px;
  max-width: 1100px;
}

.backButton {
  position: relative;
  left: 30px;
}
